//colors
$white: #FFFFFF;
$black: #111111;
$pinkbg: #EFA5A3;
$pinkcolor: #EFA5A3;

$lightG: #5EC0C6;
$red: #E42E6F;

//font
$font: 'Open Sans', sans-serif;
$fontCon: 'Open Sans Condensed', sans-serif;
$fontRoboto: 'Roboto Slab', serif;
$fontRobotoCob:  'Roboto Condensed', sans-serif;